<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorAppLab</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fullname">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Full Name
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="askgroq">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Asq Groq AI
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="askgemini">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Asq Gemini AI
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

